*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper-main{
    width: 100%;
    min-height: 88vh;
    /* background-color: #12e1a6; */
    background: linear-gradient(to bottom, #12e1a6dc 30%, rgba(18, 225, 166, 0) 100%);
}

.wrapper-card{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.unique-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.card-left{
    border: none;
}

.sar{
    font-size: 78px;
}

.uniques{
    color: #10b7dd;
}

.tug{
    background-color: #10b7dd;
}

.unique2{
    color: #be3290;
}

.tug2{
    background-color: #be3290;
}

.unique3{
    color: #009999;
}
.tug3{
    background-color: #009999;
}

.unique4{
    color: #4169E1;
}

.tug4{
    background-color: #4169E1;
}

.unique5{
    color: #191970;
}

.tug5{
    background-color: #191970;
}

.wrapper-inside-main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}





@media (max-width: 768px){
    .card-left{
        border-bottom: 1px solid lightgray;
    }

    .sar{
        font-size: 48px;
    }

    .wrapper-card{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .matnn{
        max-width: 100%;
        text-align: center;
    }
    .wrapper-inside-main{
        padding-bottom: 60px;
    }
    .main-sarlavha{
        font-size: 40px;
    }
}


@media (max-width: 500px){
    .wrapper-inside-main{
        padding-bottom: 60px;
    }
    .main-sarlavha{
        font-size: 32px;
    }

}



