*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 20px;
}

.links{
    color: #171717;
    font-size: 16px;
    text-decoration: none;
}

.login{
    color: #171717;
    padding: 12px 50px;
    /* background-color: rgb(69 221 151 / var(--tw-text-opacity, 1)) !important; */
    background-color: transparent;
    border: 1px solid #171717;
    border-radius: 20px;
}


#open, #close{
    background-color: transparent;
    border: none;
    display: none;
}

#navv{
    display: none;
}

.linklar{
    display: flex;
    gap: 20px;
    align-items: center;
}

.wrapper-header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

header{
    width: 100%;
    height: 12vh;
    position: relative;
}

.center{
    width: 100%;
    min-height: 88vh;
    /* background-color: #12e1a6; */
    background: linear-gradient(to bottom, #12e1a6dc 30%, rgba(18, 225, 166, 0) 50%);
    width: 100%;

}
.wrapper-center{
    position: relative;
}




.relative1{
    position: absolute;
    left: 35%;
    top: 15%;
}

.relative2{
    position: absolute;
    top: 25%;
    z-index: -1;
}

.relative3{
    position: absolute;
    right: 0;
    top: 25%;
    z-index: -2;
}

.main-sarlavha{
    font-size: 48px;
    padding: 81px 0px;
    color: #ffffff;
    text-align: center;
}


.card{
    max-width: 1200px;
    background-color: #ffffff;
    height: 426px;
    padding: 56px 32px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    box-shadow: 2px 3px 10px lightgray;
}

.card-left{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #45DD97;
}

.number{
    font-size: 88px;
    font-weight: bold;
}

.matn{
    font-size: 18px;
    text-transform: uppercase;
}

.matn2{
    font-size:32px;
    max-width: 115px;
}

.left-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-right{
    color: #171717;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-matn{
    font-size: 16px;
    max-width: 401px;
    line-height: 1.5rem;
    font-weight: 500;
}

.lilar{
    font-size: 18px;
    line-height: 1.5rem;
    margin-left: 2.5%;
    max-width: 100%;
    font-weight: 500;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tugma{
    padding: 13px 30px;
    background-color: #45DD97;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;

}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-h2{
    font-size: 30px;
    color: #171717;
    text-align: center;
}

.quiz-rasm{
    width: 40px;
    height: 30px;
}

.quiz-h3{
    font-size: 24px;
    font-weight: bold;
}

.quiz-matn{
    font-size: 16px;
    font-weight: 530;
    max-width: 320px;
}

.footer-h2{
    padding: 70px 0;
    margin-top: 30px;
}



.quiz-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper-quiz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;


}


.certificate{
    background: linear-gradient(135deg, #1411e2e6 20%, #eb1b87 80%);
}


.cer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 420px;
    width: 48%;
}

.cer-h2{
    font-size: 32px;
    max-width: 420px;
    color: #ffffff;
}

.cer-matn{
    color: #ffffff;
}

.cer-tugma{
    color: #ffffff;
    background-color: transparent;
    border: none;
    border: 1px solid #ffffffba;
    font-size: 16px;
    padding: 13px 24px;
    border-radius: 30px;
    box-shadow: 2px 3px 10px rgba(211, 211, 211, 0.389);
}

.wrapper-certificate{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cer-right{
    width: 48%;
}

.c1{
    width: 100%;
}


footer{
    background-color: #20202a;
    
}
.footer-a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-links{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
.wrapper-linkss{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-div-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.wrapper-cards{
    gap: 15px;
    justify-content: space-between;
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

hr{
    width: 280px;
    opacity: 40%;
}



.footer-hr{
    display: block;
    width: 1200px;
    overflow-x: hidden;
}

.logo{
    margin-bottom: 30px;
}


.footer-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-footer-right{
    display: flex;
    gap: 20px;
}
.wrapper-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 80px;
}

.class{
    max-width: 280px;
}

.card-left{
    border-right: 1px solid lightgray;
    padding-right: 30px;

}

@media (max-width: 768px){
    #header-right{
        display: none;
    }

    #open{
        display: block;
    }

    header{
        width: 100%;
        height: 10vh;
    }

    .center{
        width: 100%;
        min-height: 88vh;
        /* background-color: #12e1a6; */
    position: relative;
        background: linear-gradient(to bottom, #12e1a6 30%, rgba(18, 225, 166, 0) 40%);
    }

    .number{
        font-size: 102px;
    }

    .matn2{
        font-size: 24px;
        max-width: 100%;
    }

    .wrapper-card-btn{
        width: 100%;
        padding-bottom: 20px;

    }
    .tugma{
        width: 100%;
    }

    .card{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: auto;
        width: 100%;
        padding: 35px;
        z-index: +1;
    }

    .main-sarlavha{
        padding: 50px 0;
        font-size: 48px;
        z-index: +1;
    }

    .wrapper-quiz{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .quiz-1{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    .quiz-matn{
        text-align: center;
        max-width: 100%;
    }
    .quiz-h3{
        text-align: center;
    }
    

    .right-matn{
        width: 100%;
        text-align: center;
    }

    .unique{
        padding-bottom: 20px;
    }

    .cer-left{
        width: 100%;
        text-align: center;
    }
    .cer-right{
        width: 80%;
        padding: 20px;
    }

    .wrapper-certificate{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .wrapper-cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
    }
    hr{
        display: none;
    }

    .wrapper-footer-logo{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .logo{
        margin-bottom: 20px;
    }
    
    .footer-hr{
        max-width: 600px;
    }
    .class{
        display: none;
    }
    hr{
        display: none;
    }

    .card-left{
        border-right: none;
        border-bottom: 1px solid lightgray;
    }
    


}

@media (max-width: 500px){
    .logos{
        width: 100%;
    }
    main{
        overflow: hidden;
    }
    .card{
        padding: 24px;
    }

    .wrapper-cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-self: center;


        
    }
/* 

    main{
        width: 100%;
        min-height: 88vh;
        /* background-color: #12e1a6; */
    
        /* background: linear-gradient(to bottom, #12e1a6 20%, rgba(18, 225, 166, 0) 100%);
        position: relative; */
    /* } */ 

    .footer-footer, .footer-footer-right{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-self: center;
    }

    .footer-hr{
        max-width: 350px;
    }

    .relative1, .relative2, .relative3{
        display: none;
    }
}